<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%=shopName%></title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <nav class="navbar">
            <div class="nav-left">
                <a href="/">Home</a>
                <a href="/search">Search</a>
                <a href="/about" id="selected">About</a>
            </div>

            <div class="nav-center">
                <span><%=shopName%></span>
            </div>

            <div class="nav-right">
                <a href="/register" class="btn">Register</a>
            </div>
        </nav>
        <h1>About <a href="/"><%=shopName%></a> Stores</h1>
        <div class="stores-container">
            <div class="list">
                <ul>
                    <% for (let i=0; i < shops.length; i++) { %>
                        <li>
                            <p>Location: <%= shops[i].location%><br>
                            Manager: <%= shops[i].manager%></p>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </body>
</html>